/* Box Sizing
--------------------------------------------- */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Float Clearing
--------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
	content: " ";
	display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
	clear: both;
	content: " ";
	display: table;
}


/* Structure and Layout
---------------------------------------------------------------------------- */

/* Site Container
--------------------------------------------- */

.site-container {
	animation: fadein 1s;
	word-wrap: break-word;
}

@keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

/* Site Inner
--------------------------------------------- */

.site-inner {
	clear: both;
	margin: 30px auto 0;
	padding: 30px;

	@media only screen and (min-width: $small-screen) {
		max-width: 1200px;
		margin-top: 136px;
	}
}

.single-tours .site-inner,
.home .site-inner {
	@media only screen and (min-width: $small-screen) {
		margin-top: 30px;
	}
}

/* Hero blocks
--------------------------------------------- */

.home-hero,
.tour-hero {
	position: relative;
	overflow: hidden;
	height: 55vh;

	@media only screen and (min-width: $small-screen) {
		margin-top: 136px;
	}

	.hero-overlay {
		position: absolute;
		color: $white;
		text-align: center;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0;
		display: flex;
		align-items: flex-end;

		.wrap {
			padding: 20px;
			height: auto;
			margin: 0 auto 48px;
			width: 90%;
			background: rgba(0,0,0,0.4);

			p {
				margin-bottom: 0;
			}
		}

		@media only screen and (min-width: $small-screen) {
			
			.wrap {
				width: 60%;

				p {
					font-size: 18px;
				}
			}
		}
	}
}

.home-hero {
	@media only screen and (min-width: $small-screen) {
		height: calc(100vh - 185px);
	}
}

.tour-hero {
	@media only screen and (min-width: $small-screen) {
		height: calc(100vh - 136px);
	}
}

.admin-bar.home .home-hero {

	@media only screen and (min-width: $small-screen) {
		height: calc(100vh - 217px);
		margin-top: 136px;
	}
}


.admin-bar .tour-hero {

	@media only screen and (min-width: $small-screen) {
		height: calc(100vh - 168px);
		margin-top: 136px;
	}
}

.tour-hero {
	img {
		position: relative;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}
}



a.home-slide {
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

a.home-slide:first-of-type {
	opacity: 1;
}

.slick-initialized a.home-slide {
    opacity: 1;    
}

.home-slides.slick-slider {
	position: relative;
	z-index:1; 
	border: none;
	border-radius: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	text-align: center;

	a {
		color: $white;
	}

	a:focus,
	a:hover {
		color: $light-purple;
	}

	img {
		position: relative;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}
	
}

.slick-list,
.slick-track {
	height: 100%;
}

.slick-dots {
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	height: auto;
	background-color: unset;
	border: none;
	padding: 10px;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	
	li {
		margin: 0 0.25rem;
	}

	button {
		display: block;
		width: 1rem;
		height: 1rem;
		padding: 0;
		
		border: none;
		border-radius: 100%;
		background-color: $light-purple;
		
		text-indent: -9999px;
	}

	li.slick-active button {
		background-color: $purple;
	}

	&:focus {
		outline: none;
	}
}



/* Home strapline
--------------------------------------------- */

.home-strapline {
	color: $white;
    background-color: $purple;
    padding: 5px 30px;
    font-size: 24px;
    text-align: center;

    .wrap {
		padding: 0 20px;
	}

	@media only screen and (min-width: $small-screen) {

		.wrap {
			max-width: 1200px;
			margin: 0 auto;
		}
	}
}


/* Tours
--------------------------------------------- */

.entry.tours .entry-header .entry-meta {
    display: none;
}

.tour-details {
	padding: 20px;
	margin-bottom: 20px;
	background-color: $light-green;
}


/* Latest posts and featured tours
--------------------------------------------- */

.featured-tours,
.latest-posts {
	clear: both;
	padding: 20px 0;

	h2 {
		text-align: center;
	}

	.wrap {
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;

		@media only screen and (min-width: $small-screen) {
			max-width: 1200px;
		}
	}
}


/* Content
--------------------------------------------- */

.content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: $small-screen) {

	.content {
		float: left;
		max-width: unset;
		width: 65%;
	}

	.content .intro-text {
		float: none;
		margin: 0 auto 40px;
		width: 65%;
	}

	.archive .content,
	.blog .content,
	.search .content {
		width: 100%;
	}

	.sidebar-content .content {
		float: right;
	}

	.full-width-content .content,
	.landing-page .content {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}


/* Sidebar
---------------------------------------------------------------------------- */

.sidebar {
	font-size: 15px;
	line-height: 1.5;

	@media only screen and (min-width: $small-screen) {
		float: right;
		width: 30%;
	}

	.widget {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;
	}	
}

@media only screen and (min-width: $small-screen) {

	.sidebar-content .sidebar {
		float: left;
	}

}

/* Column Classes
--------------------------------------------- */

@media only screen and (min-width: $small-screen) {

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}
}


/* Grid
---------------------------------------------------------------------------- */

.articles-grid {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: 1fr;
    grid-gap: 30px;
    grid-template-columns: 1fr;

    .entry {
    	margin-bottom: 0;
    }

    @media only screen and (min-width: $smaller-screen) {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

	@media only screen and (min-width: $medium-screen) {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
   	}
}

.featured.articles-grid {
	@media only screen and (min-width: $medium-screen) {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
   	}
}




/* Print Styles
---------------------------------------------------------------------------- */

@media print {

	*,
	*::before,
	*::after {
		background: transparent !important;
		box-shadow: none !important;
		color: #333 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]::after,
	a[href^="#"]::after,
	.site-title > a::after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}