/* Site Header
---------------------------------------------------------------------------- */

.site-header {
	background-color: $white;
	// padding: 0 30px;
	
	.wrap {
		padding: 0 20px;
	}

	@media only screen and (min-width: $small-screen) {
		position: fixed;
		width: 100%;
		z-index: 9999;

		.wrap {
			max-width: 1200px;
			margin: 0 auto;
		}
	}
}

/* Top Bar
--------------------------------------------- */

.top-bar {
	color: $white;
	background-color: $purple;
	padding: 5px 30px;

	a {
		color: $light-purple;
	}

	a:focus,
	a:hover {
		color: $white;
	}

	@media only screen and (min-width: $small-screen) {
		.wrap {
			max-width: 1200px;
			margin: 0 auto;
		}
	}

	.top-left {
		display: none;

		@media only screen and (min-width: $small-screen) {
			display: block;
			float: left;

			.phone,
			.email {
				display: inline-block;
				margin-right: 15px;
			}
		}
	}

	.top-right {
		margin: 0 auto;
		text-align: center;

		@media only screen and (min-width: $small-screen) {
			float: right;
			text-align: right;
		}
	}
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding-bottom: 25px;
	padding-top: 25px;

	@media only screen and (min-width: $small-screen) {
		text-align: left;
	}
}

.wp-custom-logo .title-area {
	max-width: 350px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
}

.wp-custom-logo .title-area img {
	width: auto;
}

.site-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: $dark-grey;
	text-decoration: none;
}

.site-description,
.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}