/* Footer Widgets
---------------------------------------------------------------------------- */

.footer-widgets {
	clear: both;
	padding: 40px;

	.wrap {
		margin-left: auto;
		margin-right: auto;

		@media only screen and (min-width: $small-screen) {
			max-width: 1200px;
		}
	}

}

.footer-widget-area {
	margin-bottom: 20px;

	@media only screen and (min-width: $small-screen) {
		margin-bottom: 0;
		width: 35%;

		&.footer-widgets-1 {
			float: left;
		}

		&.footer-widgets-2 {
			float: right;
			text-align: right;
		}

	}

	#CDSWIDFRR {
		margin: 0;
	}
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}


/* Site Footer
---------------------------------------------------------------------------- */

.site-footer {
	font-size: 15px;
	line-height: 1.5;
	padding-bottom: 10px;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}


.footer-widgets,
.site-footer {
	background-color: $purple;
	color: $white;

	a {
		color: $light-purple;
	}

	a:focus,
	a:hover {
		color: $white;
	}
}